<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Kanban Mobile
    </ion-title>
    
    <ion-buttons slot="end">
      <ion-button (click)="generateDemoTasks()">
        🎲 Demo
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-item>
    <ion-input [(ngModel)]="newTaskTitle" placeholder="Nueva tarea..."></ion-input>
    <ion-button slot="end" (click)="addTask()">Crear</ion-button>
  </ion-item>

  <ion-list>
    <ion-item-group *ngFor="let status of ['TODO', 'DOING', 'DONE']">
      <ion-item-divider color="light">
        <ion-label>{{ status }}</ion-label>
      </ion-item-divider>

      <div *ngFor="let task of tasks">
        <ion-item *ngIf="task.status === status">
          <ion-label>
            <h2>{{ task.title }}</h2>
            <p>{{ task.description }}</p>
          </ion-label>

          <ion-button slot="end" *ngIf="status !== 'DONE'" (click)="moveTask(task)">
            ➜
          </ion-button>
        </ion-item>
      </div>

    </ion-item-group>
  </ion-list>

</ion-content>